{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}TinyMRP JOB{% endblock %}


{% block page_content %}
<!-- <a href="javascript:spin_jsf('test');"></a> -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type = "text/javascript"> 
    function spinjs(destElem) {
        $(destElem).html('<img src="{{ url_for('static', filename='images/loading.gif') }}">');
        alert($(destElem).val());        
        document.getElementById("jobnumber").style.color='green';  
        };



    $(document).ready(function(){
        $("#jobnumber").on("input", function(){
            //document.getElementById("customer").value=$("#jobnumber").val();            
            $.post('/vault/checkjobnumber', {
                    jobnumber: $("#jobnumber").val(),
                    }).done(function(response) {
                        //$("#description").text(response['resp']);
                        
                        var check=response['text'];                        
                        if (check>0) {
                            document.getElementById("jobnumber").style.color='red';
                            
                        } else {
                            document.getElementById("jobnumber").style.color='green';
                        }
                    })
            });
    });

    
    // $('#jobnumber').on('submit', function(e) {
    //         var chkJobnumber=0;
    //         let jobnumber = document.querySelector("#jobnumber").value;
    //         alert(jobnumber);
    //         // alert(document.querySelector("#jobnumber").value+"5555555555555");
    //         // $.get('/vault/checkjobnumber',function(resp) {
    //         //     let text = '';
    //         //     if (users.length != 0) {
    //         //         document.querySelector("#error").innerHTML = "Username already exists";
    //         //         return false;
    //         //     }
    //         // });
    //     });
    
</script>

<!-- <input type = "button" onclick = "spinjs('#jobnumber')" value = "Display">   -->
<div class="container-fluid">
<div class="col-md-4"> 
    <h1>Manage Job</h1>

   <form action="" method="post">
    {{ form.hidden_tag() }}
    <!-- <div id="msg"><img src="{{ url_for('static', filename='images/loading.gif') }}"></div> -->
    <p>
    {{ form.jobnumber.label }}<br>
    {{ form.jobnumber.data }}<br>
    {% for error in form.jobnumber.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    </p>
    <p>
    {{ form.description.label }}<br>
    {{ form.description(size=64) }}<br>
    {% for error in form.description.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    </p>
    <p>
    {{ form.customer.label }}<br>
    {{ form.customer(size=32) }}<br>
    {% for error in form.customer.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    </p>

    <p>{{ form.submit() }}</p>
    </form>

</div>
</div>



<div class="container-fluid">

    <h1>Part selection</h1>
    <p>Use the table search tab to filter inside database for partnumber and description. </p>
    <p>Use the bottom table tabs for multifilter </p>
    

    
        <table id="datatable" class="table table-striped table-bordered" style="width:100%">
            <thead>
              <tr>
                
                <th>Preview</th>
                <th>Partnumber</th>
                <th>Rev</th>
                <th>Description</th>
                <th>process</th>
                <th>Finish</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <!-- {% for part in parts %}
                <tr>
                  <td>{{ part.partnumber }}</td>
                  <td>{{ part.revision }}</td>
                  <td>{{ part.description }}</td>
                  <td>{{ part.process }}</td>
                  <td>{{ part.finish }}</td>
                </tr>
              {% endfor %} -->
            </tbody>
            <tfoot>
              <tr>
                
                <th>Preview</th>
                <th>partnumber</th>
                <th>revision</th>
                <th>description</th>
                <th>process</th>
                <th>finish</th>
                <th>Action</th>
            </tr>
            </tfoot>
          </table>
    
       
    </div>


    {% endblock %}


    
    {% block morescripts %}
 
    <script type="text/javascript" src="/static/js/tinypartselecttable.js"></script>  
    <script type="text/javascript">
        myVar = selectpart('{{job['jobnumber']}}')
     </script>


    
   
    {% endblock %}  


