[Unit]
Description=TinyMRP Web Application Server using Gunicorn
After=network.target

[Service]
User=tinymrp 
Group=www-data 
WorkingDirectory=/home/tinymrp/tinymrp
Environment="PATH=/home/tinymrp/tinymrp/venv/bin" 
ExecStart=/bin/bash -c 'source /home/tinymrp/tinymrp/venv/bin/activate; cd /home/tinymrp/tinymrp/; gunicorn -w 5 --timeout 60000 --bind unix:/home/tinymrp/tinymrp/tinyserver.sock -m 777 wsgi:app' 
Restart=always

[Install]
WantedBy=multi-user.target
