{% extends "base.html" %}


{% block header %}
<h1>{% block title %} LIST OF PARTS results for {{ searchstring }} {% endblock %}</h1>



<a class="action" href="{{ url_for('tinylib.index') }}">See all</a>
  {% if g.user %}
<a class="action" href="{{ url_for('tinylib.create') }}">New</a>
  {% endif %}
{% endblock %}



{% block page_content %}





    <h1>List of parts results for {{ searchstring }}</h1>
    
    <div class="table-responsive" >
        <table id="datatable" class="table table-striped table-bordered" style="width:100%">

        <thead>
            <tr>
                <th>Preview</th>
                
                <th>Partnumber</th>
                <th>Revision</th>
                <th>Description</th>
                <th>Process</th>
                <th>Finish</th>
                
            </tr>
        </thead>
        <tbody>
            {% for part in partsdata %}
            <tr>
            <td> 
            <a href="{{ url_for('tinylib.partnumber',partnumber=part.partnumber,revision="%25",detail="quick") }}" >
                <img src="http://{{part['pngpath']}}" width="70" > 
            </a></td>


            <td>            <a href="{{ url_for('tinylib.partnumber',partnumber=part.partnumber,revision="%25",detail="quick") }}" >
                {{part['partnumber']}}
            </a></td></td>
            <td>{{ part['revision'] }}</td>
            <td>{{ part['description'] }}</td>
            <td>{{ part['allprocesses'] }}</td>
            <td>{{ part['finish'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>id</th>
                <!-- <th>Preview</th> -->
                <th>Partnumber</th>
                <th>Revision</th>
                <th>Description</th>
                <th>Process</th>
                <th>Finish</th>
            </tr>
        </tfoot>
    </table>
    </div>

    <p>{{partdict}}</p>

    {% endblock %}


    {% block morescripts %}
 

    <!--Datatables script -->
    <script type = "text/javascript"> 

        $(document).ready(function() {
            // Setup - add a text input to each footer cell

            // $('#datatable').DataTable();
            $('#datatable tfoot th').each( function () {
                var title = $(this).text();
                $(this).html( '<input type="text" placeholder="Search '+title+'" style="width:100px" />' );
            } );
        
            // DataTable
                var table = $('#datatable').DataTable({
 

                initComplete: function () {
                    // Apply the search
                    this.api().columns().every( function () {
                        var that = this;
   
                        $( 'input', this.footer() ).on( 'keyup change clear', function () {
                            if ( that.search() !== this.value ) {
                                that
                                    .search( this.value )
                                    .draw();
                            }
                        } );
                    } );   
                                
                },

       
            });

            $('#datatable tbody').on( 'mouseenter', 'td', function () {
                    var colIdx = table.cell(this).index().column;
        
                    $( table.cells().nodes() ).removeClass( 'highlight' );
                    $( table.column( colIdx ).nodes() ).addClass( 'highlight' );
                } );
        
        } );
    
        </script> 
    
    {% endblock %}               
    
    
