{% extends "base.html" %}




{% block page_content %}

<style>

 /* Remove default bullets */
 ul, #myUL {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
  margin: 0;
  padding: 0;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
} 


</style>





  <ul id="myUL">
{%- for item in treedict.children if item.process!='hardware' recursive %}
    {%- if item.children -%}
    <li><span class="caret">

      {% if item['revision']  == "": %}
      <a class="btn btn-primary" href="{{ url_for('tinylib.details',partnumber=item.partnumber,revision="%") }}" style="background-color:rgb({{item['process_colors'][0]}});"> {{ item['partnumber'] }} </a>
      {% else %}
      <a class="btn btn-primary" href="{{ url_for('tinylib.details',partnumber=item.partnumber,revision=item.revision) }}" style="background-color:rgb({{item['process_colors'][0]}});">{{ item['partnumber'] }}  </a>
      {% endif %}  
         <img src="http://{{item['pngpath']}}" class="img-fluid" "alt=" ..." align="left" style="width: 3rem;"> 
      
      </span>


    <ul class="nested">{{ loop(item.children) }}</ul>
    </li>
    {% else %}
    
    <li>
    {% if item['revision']  == "": %}
    <a class="btn btn-primary" href="{{ url_for('tinylib.details',partnumber=item.partnumber,revision="%") }}" style="background-color:rgb({{item['process_colors'][0]}});"> {{ item['partnumber'] }} </a>
    {% else %}
    <a class="btn btn-primary" href="{{ url_for('tinylib.details',partnumber=item.partnumber,revision=item.revision) }}" style="background-color:rgb({{item['process_colors'][0]}});">{{ item['partnumber'] }}  </a>
    {% endif %}  
       <img src="http://{{item['pngpath']}}" class="img-fluid" "alt=" ..." align="left" style="width: 3rem;"> 
      </li>
    {%- endif %}
  
  </li>

    

    {%- endfor %}
</ul> 





    {% endblock %}

    {% block morescripts %}
    
    
    <!-- <--    // //   treeview script --> 
    <script>
        var toggler = document.getElementsByClassName("caret");
        var i;

        for (i = 0; i < toggler.length; i++) {
            toggler[i].addEventListener("click", function() {
            this.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("caret-down");
            });
        } 

    </script>

{% endblock %}







      