{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}TinyMRP{% endblock %}

{% block page_content %}



{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}

<div class="container-fluid">
    
    <div class="row " >
        
        <div class="col-sm-12 " >
            
            <div class="text-center">
                
                <img  src="{{url_for('static', filename='images/homepage_logo.svg')}}"  vspace="100" 
                style="width:500px;" class="img-responsive center-block"
                alt="homepage_logo" usemap="#homemap"> 

                
                <map name="homemap">
                    <area shape="poly" coords="67,390,35,345,22,285,78,295,100,342"  href="{{ url_for('tinylib.allparts') }}"> 
                    <area shape="poly" coords="18,220,84,209,104,165,65,107,27,165 " href="{{ url_for('tinylib.createsupplier') }}"> 
                    <area shape="poly" coords="102,63,158,34, 222,19,209,87,165,104," href="{{ url_for('tinylib.createsupplier') }}"> 
                    <area shape="poly" coords="279,18,344,34,395,65,338,104,295,87 " href="{{ url_for('tinylib.jobs_home') }}"> 
                    <area shape="poly" coords="439,107,473,165,478,220,419,210,398,162 " href="{{ url_for('tinylib.createorder') }}"> 
                    <area shape="poly" coords="485,280,473,337,473,393,401,340,420,295 " href="{{ url_for('tinylib.downloads') }}"> 
                </map>

            </div>
        </div>
    </div>

    
    <div class="text-center" style="color: #000080ff;">Copyright (c) 2022 TinyMRP Ltd.</div>
</div>



{% endblock %}
